@media screen and(min-width:780px) {
    h1{
        margin: 0;
        font-size: 4vw;
    }
    header{
        position: relative;
    }
    .desktop {
        display: block;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 2;
    }
    .mobile {
        display: none;
    }
    .formation__container{
        display: flex;
    }
    .container {
        justify-content: center;
    }
    form .form__contact-button{
        justify-content: center;
        column-gap: 1em;
    }
    .btn {
        flex-basis: 20%;
    }
    .skills-data{
        width: 40%;
        margin: 0 auto;
    }
    .about__container{
        justify-content: center;
    }
    .anchor{
        position: relative;
        top: -92px;
    }
}