@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Regular-webfont.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Playfair regular';
    src: url("../fonts/playfair/PlayfairDisplay-Regular.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Bold Italic';
    src: url("../fonts/playfair/PlayfairDisplay-BoldItalic.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Bold';
    src: url("../fonts/playfair/PlayfairDisplay-Bold.ttf") format("ttf");
    font-display: swap;
}

<<<<<<< HEAD
// main changes
@font-face {
    font-family: 'Playfair Bold';
    src: url("../fonts/playfair/PlayfairDisplay-Bold.ttf") format("ttf");
    font-display: swap;
}

// Second main changes
=======
//Orange is new black
>>>>>>> 29253cc (initial commit)
@font-face {
    font-family: 'Playfair Bold';
    src: url("../fonts/playfair/PlayfairDisplay-Bold.ttf") format("ttf");
    font-display: swap;
}

//Blue is new white
@font-face {
    font-family: 'Playfair Bold';
    src: url("../fonts/playfair/PlayfairDisplay-Bold.ttf") format("ttf");
    font-display: swap;
}

//Red is new grey
@font-face {
    font-family: 'Playfair Bold';
    src: url("../fonts/playfair/PlayfairDisplay-Bold.ttf") format("ttf");
    font-display: swap;
}