@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Regular-webfont.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Playfair regular';
    src: url("../fonts/playfair/PlayfairDisplay-Regular.ttf") format("ttf");
    font-display: swap;
}
@font-face {
    font-family: 'Playfair Bold Italic';
    src: url("../fonts/playfair/PlayfairDisplay-BoldItalic.ttf") format("ttf");
    font-display: swap;
}
@font-face {
    font-family: 'Playfair Bold';
    src: url("../fonts/playfair/PlayfairDisplay-Bold.ttf") format("ttf");
    font-display: swap;
}