html {
    font-family: 'Roboto';
}
a {
    color: $primary_color;
    &:hover {color: $secondary_color;}
    &:active{color:$secondary_color}
}
img{
    width: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
figure{
    margin: 0;
}
header{
    text-align: center;
    img{
        filter: grayscale(100);
    }
}
.desktop {
    display: none;
}
.mobile-menu {
    display: none;
    &:hover{
        display: block;
    }
}
.mobile {
    position: relative;
    &:active + .mobile-menu{
        display: block;
    }
    &::before{
        position: absolute;
        font-family: 'Material Icons';
        font-size: 2.5em;
        content: "\e5d2";
        cursor: pointer;
    }
}
nav {
    display: flex;
    justify-content: center;
    margin: 0;
    ul {
        display: flex;
        justify-content: space-around;
        li{
            flex: 0 0 14.9%;
            background-color: $primary_color;
            padding: 15px;
            line-height: 2;
            font-family: 'Roboto';
            cursor: pointer;
            border: 1px solid $primary_color;
            transition-duration: $duration;
            a {
                display: block;
                color: $white;
                text-decoration: none;
            }
            &:hover {
                background-color: $whitepale;
                color: $primary_color;
                a {
                    color:$primary_color;
                }
            }
        }
    }
}


h1 { 
    font-size: 8vw;
    font-weight: 100;
    font-family: 'Playfair regular';
    color: $primary_color;
    margin-top: 1.5em;
}
h2{
    font-family: Roboto;
    color: $secondary_color;
}
/** Section A propos **/
.container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
    .apropos__foto {
        flex: 0 0 160px;
        img{
            max-width: 130px;
            height: 130px;
            border-radius: 50%;
            border: 1px solid $secondary_color;
        }
    }
    .description {
        flex: 0 0 160px;
        line-height: 2em;
        li {
            &:nth-child(1){
                font-size: 1.5em;
            }
            &:nth-child(2){
                position: relative;
                margin-left: 1.4em;
                &::before{
                    font-family: 'Material Icons';
                    font-size: 1.2em;                    
                    content: "\e0be";
                    position: absolute;
                    top: 0px;
                    left: -20px;
                }
            }
            &:nth-child(3){
                position: relative;
                margin-left: 1.4em;
                &::before{
                    font-family: 'Material Icons';
                    font-size: 1.2em;
                    content: "\e0dd";
                    position: absolute;
                    top: 0px;
                    left: -20px;
                }
            }
            &:nth-child(4){
                line-height: 1.2em;
            }
        }
    }
}
/******************************/
/** Section Compétences **/
.skills {
    caption{
        font-size: 1.2em;
        padding-bottom: 1em;
    }
    width: 90%;
    thead{
        tr th:nth-child(1){
            text-align: left;
        }
        tr th:nth-child(2){
            text-align: right;
        }
    } 
    tr td:nth-of-type(even){
        text-align: right;
    }
}

section:nth-of-type(even){
    background-color: rgba($color: #373737, $alpha: 1.0);
    color: $white;
    padding: 1em;
    h2 {
        color: $primary_color;
    } 
}
section:nth-of-type(odd){
    h2{
        padding-left: 0.5em;
    }
}
article{
    padding: 0 1em;
}
/* Footer */

footer{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .footer__social{
        display: flex;
        /*justify-content: space-around;*/
        gap: 3em;
        .footer__social-item{
            font-size: 48px;
            color:rgba($color: #3b5998, $alpha: 0.5);
            cursor: pointer;
            transition-duration: $duration;
            &:hover{
                color: #3b5998;
            }
        }
    }

}