
a {
    color: goldenrod;
    &:hover {color: red;}
    &:active{color:purple}
}
figure{
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        gap: 1em; 
        li{
            padding: 10px;
        }
    }
}