//Breakpoint for tablet
@media screen and (min-width:480px) and(max-width:779px) {
    .desktop {
        /* Hide menu between these breakpoints */
        display: none;
    }

    .mobile {
        /* show menu between these breakpoints */
        display: block;
    }

    .formation__container {
        /* Align articles in row */
        display: flex;
        flex-wrap: wrap;

        article {
            /* Ideal size of one article 45% / container */
            flex-basis: 45%;
        }
    }
}