@media screen and (min-width:480px) and(max-width:779px) {
    .desktop {
        display: none;
        position: sticky;
        position: -webkit-sticky;
        top: 100px;
    }
    .mobile {
        display: block;
    }
    .formation__container{
        display: flex;
        flex-wrap: wrap;
        article{
            flex-basis: 45%;
        }
    }
}