@charset "UTF-8";
:root {
  --bg-section-color: #373737;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular-webfont.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Playfair regular';
  src: url("../fonts/playfair/PlayfairDisplay-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Bold Italic';
  src: url("../fonts/playfair/PlayfairDisplay-BoldItalic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Bold';
  src: url("../fonts/playfair/PlayfairDisplay-Bold.ttf") format("ttf");
  font-display: swap;
}

html {
  font-family: 'Roboto';
}

a {
  color: #daa520;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

a:hover {
  color: #373737;
}

a:active {
  color: #373737;
}

figure {
  margin: 0;
}

header img {
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
}

h4,
h5 {
  font-weight: 100;
  letter-spacing: 1px;
}

/* Hide desktop menu for mobile */
.desktop {
  display: none;
}

/* Hide sub menu by default and show on hover */
.mobile-menu {
  display: none;
}

.mobile-menu:hover {
  display: block;
}

.mobile {
  position: relative;
  margin-bottom: 2.5em;
  /* Show menu on click (:active) */
}

.mobile:active + .mobile-menu {
  display: block;
}

.mobile::before {
  position: absolute;
  font-family: 'Material Icons';
  font-size: 12vw;
  content: "\e5d2";
  cursor: pointer;
  /* Center burger menu */
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 14.9%;
          flex: 1 0 14.9%;
  background-color: #daa520;
  padding: 15px 0;
  line-height: 2;
  font-family: 'Roboto';
  cursor: pointer;
  border: 1px solid #daa520;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  text-align: center;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

nav ul li:hover, nav ul li.active {
  background-color: #f0f8ff;
  color: #daa520;
}

nav ul li:hover a, nav ul li.active a {
  color: #daa520;
}

h1 {
  font-size: 8vw;
  font-weight: 100;
  font-family: 'Playfair regular';
  color: #daa520;
  text-align: center;
}

h2 {
  font-family: Roboto;
  color: #373737;
}

#title-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/** Section A propos **/
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2em;
}

.about__container .apropos__foto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
}

.about__container .apropos__foto img {
  width: 130px;
  border-radius: 50%;
  border: 1px solid #373737;
}

.about__container .description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  line-height: 2em;
}

.about__container .description li:nth-child(1) {
  font-size: 1.5em;
}

.about__container .description li:nth-child(2) {
  position: relative;
  margin-left: 1.4em;
}

.about__container .description li:nth-child(2)::before {
  font-family: 'Material Icons';
  font-size: 1.2em;
  content: "\e0be";
  position: absolute;
  top: 0px;
  left: -20px;
}

.about__container .description li:nth-child(3) {
  position: relative;
  margin-left: 1.4em;
}

.about__container .description li:nth-child(3)::before {
  font-family: 'Material Icons';
  font-size: 1.2em;
  content: "\e0dd";
  position: absolute;
  top: 0px;
  left: -20px;
}

.about__container .description li:nth-child(4) {
  line-height: 1.2em;
}

/******************************/
/** Section Compétences **/
/* Design table for mobile */
.skills-data {
  width: 90%;
}

.skills-data caption {
  font-size: 1.2em;
  padding-bottom: 1em;
}

.skills-data thead tr th:nth-child(1) {
  text-align: left;
}

.skills-data thead tr th:nth-child(2) {
  text-align: right;
}

.skills-data tr td:nth-of-type(even) {
  text-align: right;
}

.skills-data tr label {
  position: relative;
}

.skills-data tr label::after {
  content: "";
  background: url("../img/icons-front.png") no-repeat;
  height: 50px;
  width: 50px;
  display: block;
  background-size: cover;
}

.skills-data tr:nth-child(1) label:hover::after {
  opacity: 0.5;
}

.skills-data tr:nth-child(1) label::after {
  background-position: 2px center;
}

.skills-data tr:nth-child(2) label::after {
  background-position: -45px center;
}

.skills-data tr:nth-child(3) label::after {
  background-position: -92px center;
}

.skills-data tr:nth-child(4) label::after {
  background-position: -148px center;
}

section:nth-of-type(even) {
  background-color: var(--bg-section-color);
  color: white;
  padding: 1em;
}

section:nth-of-type(even) h2 {
  color: #daa520;
}

section:nth-of-type(odd) h2 {
  padding-left: 0.5em;
}

article {
  padding: 0 1em;
}

/* Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

footer .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
}

/* Colorized fonts brand's color */
.footer__social-item {
  font-size: 48px;
}

.footer__social-item a[title="Facebook"] {
  color: rgba(59, 89, 152, 0.6);
}

.footer__social-item a[title="Facebook"]:hover {
  color: #3b5998;
}

.footer__social-item a[title="Linkedin"] {
  color: rgba(0, 119, 181, 0.6);
}

.footer__social-item a[title="Linkedin"]:hover {
  color: #0077B5;
}

.footer__social-item a[title="Twitter"] {
  color: rgba(29, 161, 242, 0.6);
}

.footer__social-item a[title="Twitter"]:hover {
  color: #1DA1F2;
}

/** Page contact **/
.contact {
  padding: 15px;
}

form legend {
  margin-bottom: 15px;
}

form .form__contact-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

form .form__contact-group:nth-child(5) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

form .form__contact-group label {
  font-size: 0.8em;
}

form .form__contact-group input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 1em;
  background-color: rgba(218, 165, 32, 0.2);
  border: none;
  padding: 7px;
}

form .form__contact-group input:focus {
  outline: none;
  border: thin dashed #373737;
  background-color: rgba(218, 165, 32, 0.5);
}

form .form__contact-group input[placeholder] {
  font-size: 0.8em;
}

form .form__contact-group textarea {
  padding: 7px;
}

form .form__contact-group textarea:focus {
  outline: none;
  border: 1px solid #daa520;
}

form .form__contact-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1em;
}

form .form__contact-footer {
  margin-left: 5px;
}

.btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  height: 35px;
  border: none;
  cursor: pointer;
  color: #373737;
  background-color: #daa520;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  font-family: Roboto;
  font-size: 1.2em;
  font-weight: 100;
}

.btn:hover {
  opacity: 1;
  color: #daa520;
  background-color: white;
  border: 1px solid #daa520;
}

.btn-reset {
  opacity: 0.7;
}

/* Stick footer on mobile and portrait at bottom of the page */
@media screen and (max-width: 480px) and (orientation: portrait) {
  footer.response {
    position: absolute;
    bottom: 0;
    /* Center elements */
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 480px) and (max-width: 779px) {
  .desktop {
    /* Hide menu between these breakpoints */
    display: none;
  }
  .mobile {
    /* show menu between these breakpoints */
    display: block;
  }
  .formation__container {
    /* Align articles in row */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .formation__container article {
    /* Ideal size of one article 45% / container */
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media screen and (min-width: 780px) {
  h1 {
    margin: 0;
    font-size: 4vw;
    /* use viewport unit vw for viewport width*/
    /* Viewport == browser window size. If the viewport is 40cm wide, 1vw == 0.4cm. */
    /*
        1vw = 1% of viewport width
        1vh = 1% of viewport height
        1vmin = 1vw or 1vh, le plus petit des deux
        1vmax = 1vw or 1vh, le plus grand des deux
        */
  }
  .desktop {
    /* Display desktop menu for this breakpoint (780px) */
    display: block;
    /* Stick menu at the top of window */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* positionne la div(.desktop) au dessus des éléments dont le z-index(ordre) est inférieur à 2 */
    z-index: 2;
  }
  .mobile {
    display: none;
  }
  .formation__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  form .form__contact-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 1em;
            column-gap: 1em;
  }
  .btn {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .skills-data {
    width: 40%;
    margin: 0 auto;
  }
  .about__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .anchor {
    /* Positionne l'ancre à 92px de sa position initiale afin de voir le titre de la section lors du click sur l'item de menu concerné  */
    position: relative;
    top: -80px;
  }
}
/*# sourceMappingURL=style.css.map */